<div class="container mt-3">
  <div id="mySlideshow" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
  <li data-target="#mySlideshow" data-slide-to="0" class="active"></li>
  <li data-target="#mySlideshow" data-slide-to="1"></li>
  <li data-target="#mySlideshow" data-slide-to="2"></li>
  </ul>

  <!-- Slideshow -->
  <div class="carousel-inner">
  <div class="carousel-item active">
  <img class="d-block w-100" src="/assets/images/img3.jpg" alt="Slide 1" height="300">
  <div class="carousel-caption">
  <h1> Kitchen Story</h1>
  <p></p>
  </div>
  </div>
  <div class="carousel-item">
  <img class="d-block w-100" src="/assets/images/food6.png" alt="Slide 2" height="300">
  <div class="carousel-caption">
  <h1>Second Slide</h1>
  <p>This is the second slide.</p>
  </div>
  </div>
  <div class="carousel-item">
  <img class="d-block w-100" src="/assets/images/img2.jpg" alt="Slide 3" height="300">
  <div class="carousel-caption">
  <h1>Third Slide</h1>
  <p>This is the third slide.</p>
  </div>
  </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#mySlideshow" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#mySlideshow" data-slide="next">
  <span class="carousel-control-next-icon"></span>
  </a>

  </div>

  <br>

  <section class="main-content">
		<div class="container">
      <h3 style="text-align: center;color: rgb(28, 28, 25);">Order you favourite foods</h3>
      <br>

			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
						<div class="food-card_img position-relative">
							<img style="width:100%;height:200px;" src="/assets/images/burger.jpg" alt="">
							<a href="#!"><i class="far fa-heart"></i></a>
						</div>
						<div class="food-card_content">
							<div class="food-card_title-section overflow-hidden">
								<h4 class="food-card_title"><a href="#!" class="text-dark">Double Cheese Potato Burger</a></h4>

							</div>
							<div class="food-card_bottom-section">
								<div class="d-flex justify-content-between">
									<div><span class="fa fa-fire"></span> 220 - 280 Kcal</div>
									<div>
										<span>Veg</span>
									</div>
								</div>
								<hr>
								<div class="d-flex justify-content-between">
									<div class="food-card_price">
										<span>150₹</span>
									</div>
									<div class="food-card_order-count">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1">-</button>
											</div>
											<input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon"
												aria-describedby="button-addon1" value="0">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>




        <div class="col-sm-6 col-md-6 col-lg-3">
					<div class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
						<div class="food-card_img position-relative">
							<img style="width:100%;height:200px;" src="/assets/images/food3.jpg" alt="">
							<a href="#!"><i class="far fa-heart"></i></a>
						</div>
						<div class="food-card_content">
							<div class="food-card_title-section overflow-hidden">
								<h4 class="food-card_title"><a href="#!" class="text-dark">Boiled Eggs</a></h4>

							</div>
							<div class="food-card_bottom-section">
								<div class="d-flex justify-content-between">
									<div><span class="fa fa-fire"></span> 220 - 280 Kcal</div>
									<div>
										<span>Veg</span>
									</div>
								</div>
								<hr>
								<div class="d-flex justify-content-between">
									<div class="food-card_price">
										<span>50₹</span>
									</div>
									<div class="food-card_order-count">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1">-</button>
											</div>
											<input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon"
												aria-describedby="button-addon1" value="0">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>







        <div class="col-sm-6 col-md-6 col-lg-3">
					<div class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
						<div class="food-card_img position-relative">
							<img style="width:100%;height:200px;" src="/assets/images/food4.webp" alt="">
							<a href="#!"><i class="far fa-heart"></i></a>
						</div>
						<div class="food-card_content">
							<div class="food-card_title-section overflow-hidden">
								<h4 class="food-card_title"><a href="#!" class="text-dark">Mozzarella pizza</a></h4>

							</div>
							<div class="food-card_bottom-section">
								<div class="d-flex justify-content-between">
									<div><span class="fa fa-fire"></span> 220 - 280 Kcal</div>
									<div>
										<span>Veg</span>
									</div>
								</div>
								<hr>
								<div class="d-flex justify-content-between">
									<div class="food-card_price">
										<span>300₹</span>
									</div>
									<div class="food-card_order-count">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1">-</button>
											</div>
											<input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon"
												aria-describedby="button-addon1" value="0">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>








        <div class="col-sm-6 col-md-6 col-lg-3">
					<div class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
						<div class="food-card_img position-relative">
							<img style="width:100%;height:200px;" src="/assets/images/food5.jpg" alt="">
							<a href="#!"><i class="far fa-heart"></i></a>
						</div>
						<div class="food-card_content">
							<div class="food-card_title-section overflow-hidden">
								<h4 class="food-card_title"><a href="#!" class="text-dark">Rajma Chawal</a></h4>

							</div>
							<div class="food-card_bottom-section">
								<div class="d-flex justify-content-between">
									<div><span class="fa fa-fire"></span> 220 - 280 Kcal</div>
									<div>
										<span>Veg</span>
									</div>
								</div>
								<hr>
								<div class="d-flex justify-content-between">
									<div class="food-card_price">
										<span>150₹</span>
									</div>
									<div class="food-card_order-count">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon1">-</button>
											</div>
											<input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon"
												aria-describedby="button-addon1" value="0">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary add-btn" type="button" id="button-addon1">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>














			</div>
		</div>
	</section>

  </div>
