




  <div class="page-wrapper font-poppins" style="margin-top: 2%;">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">User Registration Form</h2>
                <form (ngSubmit)="addUser()" >
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Name</label>
                                <input class="input--style-4" id="name" type="text" name="name" type="text" [(ngModel)]="data.name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" id="email" type="text" name="email"  [(ngModel)]="data.email">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Birthday</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4 js-datepicker" id="dob" type="date" name="dob"  [(ngModel)]="data.dob">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio"  name="gender"  [(ngModel)]="data.gender" value="male">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio"  name="gender"  [(ngModel)]="data.gender" value="female">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">

                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" id="pno" type="text" name="pno"  [(ngModel)]="data.pno">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" id="password" type="password" name="password"  [(ngModel)]="data.password">
                            </div>
                        </div>
                    </div>

                   <span style="color:green;" id="msg"></span>

                    <div class="p-t-15">
                        <button  class="btn btn--radius-2 btn--blue" type="submit"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
